body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 5px auto;
    text-align: center;
}

header, nav, section, aside, footer {
    background: #ebebeb;
}

article {
    color: #ebebeb;
    background: #777;
    width: 95%;
    height: 200px;
    padding: 1px;
    margin: 30px auto;
}


h1, p {
    color: #777;
    background: #ebebeb;
}

section {
    float: left;
    width: 495px;
}

aside {
    float: right;
    width: 450px;
}

section, aside {
    height: 300px;
    margin-bottom: 10px;
}

header, nav, footer {
    padding: 30px;
    margin-bottom: 10px;
}

footer {
    clear: both;
}

#full {
    color: #ebebeb;
    background: #777;
}

.content {
    width: 85%;
    margin: 0 auto 10px;
    padding: 18px;
}

.heading {
    font-weight: normal;
    font-size: 18px;
}